.lobby-background {
    background-color: #eeeeee;
}

.lobby {
    width: 1100px;
    background-color: white;
    height: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    // border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    overflow: auto;
    // padding: 15px 15px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    
}

.lobby-channel {
    width: 250px;
    height: 100%;
    background-color: #3b3b3b;
    .lobby-channel-header {
        display: flex;
        justify-content: center;
        height: 40px;
        padding: 20px;
        background-color: #1c1c1e;
        color: white;
        box-sizing: border-box;
        .lobby-channel-header-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            &:hover {
                cursor: pointer;
                a {
                    color: #ecb708;
                }
            }
            a {
                color: #04afc3;
            }
            span {
                text-transform: uppercase;
            }
            input[type=text], select {
                align-self: flex-start;
                width: 250px;
                position: absolute;
                padding: 0px 0px;
                height: 40px;
                left: -106%;
                border: 1px solid transparent;
                border-radius: 0px;
                box-sizing: border-box;
                top: 20px;
                text-indent: 1rem;
                border: 1px solid transparent;
                border-radius: 0px;
                box-sizing: border-box;
                box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
                ::selection {
                    background: white;
                    border-color: transparent;
                }
            }

        }


    }
    .lobby-channel-index {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        // padding: 20px;
        padding-top: 20px;
        justify-content: flex-start;
        height: 600px;
        background-color: #e0e0e0;
        .lobby-channel-index-item {
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            margin-top: 10px;
            &:nth-child(1) {
                margin-top: 0;
            }
            &:hover {
                background-color: #ecb708;
                cursor: pointer;
            }
            .lobby-channel-title {
                font-size: 17px;
                text-transform: uppercase;
            }
            .lobby-channel-players-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                .lobby-channel-players-name {
                    font-size: 16px;
                }
            }
        }
    }
    .lobby-channel-index-profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        box-sizing: border-box;
        justify-content: space-between;
        background-color: #1c1c1e;
        color: white;
        .lobby-channel-index-profile-username {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            margin-left: 20px;
            margin-right: 20px;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 170px;
            .lobby-user-username {
                // font-weight: 700;
                text-overflow: ellipsis;
                // overflow: hidden;
            }
            .lobby-user-id {
                font-size: 12px;
                // font-weight: 700;
            }
        }
        .lobby-channel-index-profile-icon {
            margin-left: 20px;
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fc2143;
            cursor: pointer;
            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            span {
                margin-top: 5px;
                font-size: 12px;
                // font-weight: 700;
            }
        }
    }
}

.lobby-room {
    width: 850px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    .lobby-room-header {
        display: flex;
        padding: 20px;
        justify-content: center;
        height: 30px;
        background-color: #29292b;
        color: white;
        box-sizing: border-box;
        .lobby-room-header-wrapper {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            .lobby-room-header-wrapper-content {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            a {
                &:hover {
                    color: #ecb708;
                    cursor: pointer;
                }
            }
            span {
                text-transform: uppercase;
            }
        }
    }
    .lobby-room-body {
        height: 560px;
        background-color: #f2f2f2;
        box-sizing: border-box;
        padding: 20px;
        font-size: 16px;
    }
    .lobby-room-input {
        display: flex;
        flex-direction: row;
        width: 850px;
        height: 100px;
        box-sizing: border-box;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        background-color: #f2f2f2;
        // margin-left: 20px;
        input {
            padding: 15px 50px;
        }
        .send-icon {
            background-color: #04afc3;
            padding: 10px;
            border-radius: 50%;
            fill: white;
            box-shadow: 0 4px 3px 0 rgba(68, 52, 52, 0.3);
            cursor: pointer;
            &:hover {
                background-color: #ecb708;
            }
        }
    }
    .lobby-room-members {
        position: absolute;
        background-color: white;
        width: 300px;
        height: 242px;
        left: 63%;
        border-radius: 5px;
        top: 7%;
        box-shadow: 0 4px 3px 0 rgba(68, 52, 52, 0.3);
        box-sizing: border-box;
        padding-top: 30px;
        font-size: 16px;
        .lobby-room-members-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            &:hover {
                background-color: #ecb708;
                cursor: pointer;
                
            }

        }
    }
}

#styled {
    box-sizing: border-box;
    height: 50px;
    width: 80%;
    // border-radius: 20px;
    // border-radius: 10px;
    font-family: Tahoma, sans-serif;
    vertical-align: bottom;
    border: transparent;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 50px;
    line-height: -2rem;
}

.lobby-players {
    width: 200px;
    height: 100%;
    background-color: blue;
}