

/* Add a black background color to the top navigation */
.topnavtwo {
  background-color: #1f1f1f;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

/* Style the links inside the navigation bar */
.topnavtwo a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
    color: black;
  }
  .topnavtwo-middle-nav{
    max-width: 318px;
  }
  .topnavtwo-left-nav a {
    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
  .topnavtwo-middle-nav a {
    cursor: pointer;
  }
  .topnavtwo-right-nav a {
    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
}

/* Add a color to the active/current link */
.topnavtwo a.active {
  background-color: rgb(76, 175, 158);
  color: black;
}

.topnavtwo-right-nav {
  position: relative;
}

.topnavtwo-dropdown {
  background-color: white;
  position: absolute;
  top: 100%;
  left: -53%;
  width: 100%;
  min-width: 200px;

  li {
    padding: 10px;
    &:hover {
      background-color: #ddd;
      color: black;
    }

    &:nth-last-child(1):hover {
      background-color: rgb(236, 183, 8);
      color: black;
      cursor: pointer;
    }
    .topnavtwo-name {
      color: blue;
    }
    .topnavtwo-wins {
      color: green;
    }
    .topnavtwo-losses {
      color: red;
    }
    .topnavtwo-logout {
      cursor: pointer;
    }
  }
}

