.profile-page {
    background-color: rgb(243, 237, 237);
    height: 95vh;
    padding-top: 100px;
}

.profile-card {
    margin-left: 100px;
    // padding-top: 250px;
    width: 500px;
    height: 500px;
    display: flex;
    background-color: rgba($color: #f8f6f6, $alpha: 1.0);
    flex-direction: column;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

.title-row {
    display: flex;
    background-color: rgba($color: #2b2a2a, $alpha: 1.0);
    color: rgba($color: #ffffff, $alpha: 1.0);
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    height: 25px;
    font-size: 18px;
}

.maps-list {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 10px;
}

.map-link-o {
    background-color: rgba($color: #ece6e6, $alpha: 1.0);
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.map-link-e {
    background-color: rgba($color: #c2bdbd, $alpha: 1.0);
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.map-link-e:hover{
    background-color: rgba($color: #faef5a, $alpha: 1.0);
}

.map-link-o:hover{
    background-color: rgba($color: #faef5a, $alpha: 1.0);
}

.alink {
    text-decoration: none;
    color: rgba($color: #000000, $alpha: 1.0);
    display: flex;
    align-items: center;
    padding-top: 2px;
}

.alink:hover{
    color: rgba($color: #797777, $alpha: 1.0)
}

.delete-button:hover {
    color: rgba(221, 19, 19, 0.788);
    cursor: pointer;
}
