/* hide things */
.hidden {
  display: none;
}

.hidden-topnav a {
	color: transparent;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'Bebas Neue', cursive;
  margin: 0px;
}

// body {
//   font-family: 'Oswald', sans-serif;
//  }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
 }


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Add Modal styling */
.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    margin: auto;
  }
  
  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background: white;
    width: initial;
    height: initial;
    animation-fill-mode: forwards;
    animation-name: my-move;
    animation-duration: 1s;
    // margin: auto;
  }

  @keyframes my-move {
    0%   {top: 0%; opacity: 0;}
    100% {top: 50%; opacity: 1;}
}
  
canvas{
  margin-top: 55px;
}






// button {
//   display: inline-block;
//   border: none;
//   padding: 0.5rem 1.5rem;
//   margin: 0;
//   text-decoration: none;
//   background: #04afc3;
//   color: #ffffff;
//   font-family: sans-serif;
//   font-size: 1rem;
//   cursor: pointer;
//   text-align: center;
//   transition: background 250ms ease-in-out, 
//               transform 150ms ease;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   border-radius: 5px;
//   background-position: center;
//   transition: background 0.3s;
// }

// button:hover,
// button:focus {
//   background: #fcd03f radial-gradient(circle, transparent 1%, #fcd03f 1%) center/15000%;
//   color: #333333;
// }

// button:focus {
//   outline: 1px solid #fff;
// }

// button:active {
//   background-color: #ecb708;
//   background-size: 100%;
//   transition: background 0s;
// }

/* Ripple effect */
.ripple {

}
.ripple:hover {
}
.ripple:active {

}

textarea { 
  overflow:auto; 
  resize:none; 
}

canvas {
  
}